################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevTrackR.ShippingOrders/DesignTimeBuild/.dtbcache.v2
/.vs/DevTrackR.ShippingOrders/FileContentIndex/06974c18-43f1-4687-8fa5-58d6f29e0fe8.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/12f9e242-792a-4270-9abc-37555550a57b.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/2aac2d8f-8e9e-4901-8056-9b5c20b30e04.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/3758ee87-302d-4f45-aedf-7725abcc1c9c.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/3aefe233-6517-4e6a-93d7-eef3197e225a.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/52d60e9c-79d4-4a66-aeb2-90a602db49a9.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/7aa16661-c6c5-4ffa-93ba-7647669fcb14.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/810c4ada-5bc1-463b-993f-a0aa34c1b7cc.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/90143dd5-7ae1-4504-bd12-2ca2b1de6e50.vsidx
/.vs/DevTrackR.ShippingOrders/FileContentIndex/dd57f776-40be-46ed-b914-c7244dcf9f6f.vsidx
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.API.deps.json
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.API.dll
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.API.exe
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.API.pdb
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.Application.dll
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.Application.pdb
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.dll
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.pdb
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.dll
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.pdb
/DevTrackR.ShippingOrders.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/DevTrackR.ShippingOrders.Application/bin/Debug/net8.0/DevTrackR.ShippingOrders.Application.deps.json
/DevTrackR.ShippingOrders.Application/bin/Debug/net8.0/DevTrackR.ShippingOrders.Application.dll
/DevTrackR.ShippingOrders.Application/bin/Debug/net8.0/DevTrackR.ShippingOrders.Application.pdb
/DevTrackR.ShippingOrders.Application/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.dll
/DevTrackR.ShippingOrders.Application/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.pdb
/DevTrackR.ShippingOrders.Application/bin/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.dll
/DevTrackR.ShippingOrders.Application/bin/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.pdb
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/ref/DevTrackR.ShippingOrders.Application.dll
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/refint/DevTrackR.ShippingOrders.Application.dll
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/DevTrackR.ShippingOrders.Application.AssemblyInfoInputs.cache
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/DevTrackR.ShippingOrders.Application.csproj.AssemblyReference.cache
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/DevTrackR.ShippingOrders.Application.csproj.CoreCompileInputs.cache
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/DevTrackR.ShippingOrders.Application.dll
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/DevTrackR.ShippingOrders.Application.pdb
/DevTrackR.ShippingOrders.Application/obj/Debug/net8.0/DevTrackR.ShippingOrders.Application.sourcelink.json
/DevTrackR.ShippingOrders.Core/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.dll
/DevTrackR.ShippingOrders.Core/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.pdb
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/ref/DevTrackR.ShippingOrders.Core.dll
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/refint/DevTrackR.ShippingOrders.Core.dll
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/DevTrackR.ShippingOrders.Core.AssemblyInfoInputs.cache
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/DevTrackR.ShippingOrders.Core.csproj.CoreCompileInputs.cache
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/DevTrackR.ShippingOrders.Core.csproj.FileListAbsolute.txt
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/DevTrackR.ShippingOrders.Core.dll
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/DevTrackR.ShippingOrders.Core.pdb
/DevTrackR.ShippingOrders.Core/obj/Debug/net8.0/DevTrackR.ShippingOrders.Core.sourcelink.json
/DevTrackR.ShippingOrders.Infrastructure/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.dll
/DevTrackR.ShippingOrders.Infrastructure/bin/Debug/net8.0/DevTrackR.ShippingOrders.Core.pdb
/DevTrackR.ShippingOrders.Infrastructure/bin/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.dll
/DevTrackR.ShippingOrders.Infrastructure/bin/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.pdb
/DevTrackR.ShippingOrders.Infrastructure/obj/Debug/net8.0/ref/DevTrackR.ShippingOrders.Infrastructure.dll
/DevTrackR.ShippingOrders.Infrastructure/obj/Debug/net8.0/refint/DevTrackR.ShippingOrders.Infrastructure.dll
/DevTrackR.ShippingOrders.Infrastructure/obj/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.AssemblyInfoInputs.cache
/DevTrackR.ShippingOrders.Infrastructure/obj/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.csproj.AssemblyReference.cache
/DevTrackR.ShippingOrders.Infrastructure/obj/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.dll
/DevTrackR.ShippingOrders.Infrastructure/obj/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.pdb
/DevTrackR.ShippingOrders.Infrastructure/obj/Debug/net8.0/DevTrackR.ShippingOrders.Infrastructure.sourcelink.json
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/ref/DevTrackR.ShippingOrders.API.dll
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/refint/DevTrackR.ShippingOrders.API.dll
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/apphost.exe
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/DevTrackR.ShippingOrders.API.AssemblyInfoInputs.cache
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/DevTrackR.ShippingOrders.API.csproj.AssemblyReference.cache
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/DevTrackR.ShippingOrders.API.csproj.CoreCompileInputs.cache
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/DevTrackR.ShippingOrders.API.csproj.FileListAbsolute.txt
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/DevTrackR.ShippingOrders.API.dll
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/DevTrackR.ShippingOrders.API.pdb
/DevTrackR.ShippingOrders.API/obj/Debug/net8.0/DevTrackR.ShippingOrders.API.sourcelink.json
